<% include partials/header %>

  <main class="container-fluid bg">
    <div class="title">
      <br>
      <h1>Connecting riders from around the world</h1>
      <br>

    </div>
    <div class="row">
      <% for(data of user_report) { %>
        <div class="col-6 mb-5 pr-5 pl-5">
          <div class="card">
            <img class="card-img-top" href="<%=data.picture_url%>" src="<%=data.picture_url%>">
            <div class="card-body">
              <h4 class="card-title">
                <strong>
                  <%=data.location%>
                </strong>
              </h4>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is
                a little bit longer.</p>

              <section class="col-md-10 col-sm-8">
                <strong>Snow Report:</strong>
                <%=data.snow_report%>

              </section>
              <section class="col-md-10 col-sm-8">
                <strong>Conditions:</strong>
                <%=data.conditions%>

              </section>
              <section class="col-md-10 col-sm-8">
                <strong>Date:</strong>
                <%= data.date.toDateString() %>

              </section>
              <section class="col-md-10 col-sm-8">
                <strong>Time:</strong>
                <%= data.time %>

              </section>
            </div>
            <div class="card-footer" style="background-color: #efebda;">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <%}%>
    </div>



    </div>
  </main>


  <% include partials/footer %>