<% include partials/header %>

  <main class="container-fluid bg ">
    <div class="title">
      <br>
      <h1>Connecting riders from around the world</h1>
      <br>

    </div>
    <div class="row">
      <% for(data of user_report) { %>
        <div class="col-6 mb-5 pr-5 pl-5">
          <div class="card">
            <img class="card-img-top" href="<%=data.picture_url%>" src="<%=data.picture_url%>">
            <div class="card-body">
              <h4 class="card-title">

                <strong>
                  <h1 style="color: #318ac4;">
                    <%= data.location %>
                  </h1>
                </strong>
                <h4>
                  <i>
                    <%= data.username %>
                  </i>
                </h4>

                <section class="container">
                  <section class="row">
                    <section class="col-md-6">
                      <h5>
                        <strong>Snow Report:</strong>
                        <%= data.snow_report %>
                      </h5>
                    </section>

                    <section class="col">
                      <h5>
                        <strong>Conditions:</strong>
                        <%= data.conditions %>
                      </h5>
                    </section>
                    <div class="w-100"></div>
                    <section class="col">
                      <h5>
                        <strong>Date:</strong>
                        <%= data.date.toDateString() %>
                      </h5>
                    </section>
                    <section class="col">
                      <h5>
                        <strong>Time:</strong>
                        <%= data.time %>
                      </h5>

                    </section>

                  </section>
                </section>
            </div>
            <div class="card-footer" style="background-color: #efebda;">
              <small class="text-muted">Last updated: </small>
            </div>
          </div>
        </div>
        <%}%>
    </div>



    </div>
  </main>
  <script src="moment.js"></script>

  <% include partials/footer %>